/* ### Components - Widgets - Search Form
---------------------------------------------------------------------------------------------------- */

.search-form {
  overflow: hidden;

  .entry-content & {
    margin-bottom: 40px;
  }

  .entry-content &,
  .site-header & {
    width: $search-form--width;
  }

  .site-header & {
    float: none;
    margin: 16px auto;

    @include media( $breakpoint__screen-size--medium-up ) {
      float: right;
      margin: 12px auto 0;
    }
  }
}

.post-password-form,
.search-form {
  input[type="submit"] {
    margin-top: 10px;
  }
}

.genesis-nav-menu .search,
.widget_search {
  input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: $widget-search__submit-button--width;
  }
}