//
// Site Header Base Styles
//============================================

.site-header {
  background-color: $site-header--background-color;

  > .wrap {
    padding: 20px 0;
  }

  .wrap {
    padding-left: $wrap--padding;
    padding-right: $wrap--padding;

    @include media($breakpoint__screen-size--medium-up) {
      //padding-left: 5%;
      //padding-right: 5%;
    }
  }

  //@include media($breakpoint__screen-size--medium-up) {
  //
  //}
}