/* ### Structure and Layouts - Columns Widths & Positions - Content Sidebar Wrap
---------------------------------------------------------------------------------------------------- */


.content-sidebar-wrap {
  @include media( $breakpoint__screen-size--medium-up ) {
    display: flex;
    justify-content: space-between;
  }
}

.no-flexbox {
  .content-sidebar-wrap {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {

      @include media($breakpoint__screen-size--medium-up) {
        width: $content-sidebar-sidebar__content-sidebar-wrap--width--medium-screen--no-flex;
      }
      @include media($breakpoint__screen-size--large-up) {
        width: $content-sidebar-sidebar__content-sidebar-wrap--width--large-screen--no-flex;
      }
      @include media($breakpoint__screen-size--larger-up) {
        width: $content-sidebar-sidebar__content-sidebar-wrap--width--larger-screen--no-flex;
      }
    }

    .content-sidebar-sidebar & {
      @include media($breakpoint__screen-size--medium-up) {
        float: left;
      }
    }

    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
      @include media($breakpoint__screen-size--medium-up) {
        float: right;
      }
    }
  }
}