/* ### Structure and Layouts - Columns Widths & Positions - Content
---------------------------------------------------------------------------------------------------- */

.content {
  flex: 0 1 auto;
}

.no-flexbox {
  .content {
    float: right;

    @include media($breakpoint__screen-size--medium-up) {
      width: $content--width--medium-screen--no-flex;
    }
    @include media($breakpoint__screen-size--large-up) {
      width: $content--width--large-screen--no-flex;
    }
    @include media($breakpoint__screen-size--larger-up) {
      width: $content--width--larger-screen--no-flex;
    }

    .content-sidebar & {
      float: left;
    }

    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {

      @include media($breakpoint__screen-size--medium-up) {
        width: $content-sidebar-sidebar--width--medium-screen--no-flex;
      }
      @include media($breakpoint__screen-size--large-up) {
        width: $content-sidebar-sidebar--width--large-screen--no-flex;
      }
      @include media($breakpoint__screen-size--larger-up) {
        width: $content-sidebar-sidebar--width--larger-screen--no-flex;
      }
    }
  }
}