/* ### Structure and Layouts - Columns Widths & Positions - Primary Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar-primary {
  width: $sidebar-primary--width;

  @include media( $breakpoint__screen-size--medium-up ) {
    flex: 0 0 300px;
  }

  @include media( $breakpoint__screen-size--larger-up ) {
    flex: 0 0 360px;
  }
}

.no-flexbox {
  .sidebar-primary {
    float: right;

    .sidebar-content &,
    .sidebar-sidebar-content & {
      float: left;
    }
  }
}