/* ### Structure and Layouts - Columns Widths & Positions - Secondary Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar-secondary {
  width: $sidebar-secondary--width;

  @include media($breakpoint__screen-size--medium-up) {
    flex: 0 0 180px;
  }
}

.no-flexbox {
  .sidebar-secondary {
    float: left;

    .content-sidebar-sidebar & {
      float: right;
    }
  }
}