// ### Utilities - Variables - Breakpoints
//---------------------------------------------------------------------------------------------------- */

$phone-portrait: 320px;
$phone-landscape: 640px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1366px;
$large-desktop: 1680px;

// Device Screen Sizes
//------------------------------------------------------------------------------
$screen-size--smallest: 320px;
$screen-size--smaller: 480px;
$screen-size--small: 768px;
$screen-size--medium: 1024px;
$screen-size--large: 1200px;
$screen-size--larger: 1366px;
$screen-size--largest: 1680px;

// Global Breakpoints
//------------------------------------------------------------------------------
$breakpoint__screen-size--smallest-up: new-breakpoint(min-width $screen-size--smallest 4); //@media only screen and (min-width: 320px)
$breakpoint__screen-size--smaller-up: new-breakpoint(min-width $screen-size--smaller 4); //@media only screen and (min-width: 480px)
$breakpoint__screen-size--small-up: new-breakpoint(min-width $screen-size--small 4); //@media only screen and (min-width: 768px)
$breakpoint__screen-size--medium-up: new-breakpoint(min-width $screen-size--medium 6); //@media only screen and (min-width: 1024px)
$breakpoint__screen-size--large-up: new-breakpoint(min-width $screen-size--large 12); //@media only screen and (min-width: 1200px)
$breakpoint__screen-size--larger-up: new-breakpoint(min-width $screen-size--larger 12); //@media only screen and (min-width: 1366px)
$breakpoint__screen-size--largest-up: new-breakpoint(min-width $screen-size--largest 12); //@media only screen and (min-width: 1680px)

// Max Breakpoints
//------------------------------------------------------------------------------
$breakpoint__screen-size--smaller-max: new-breakpoint(max-width $screen-size--smaller 4); //@media only screen and (max-width: 480px)
$breakpoint__screen-size--small-max: new-breakpoint(max-width $screen-size--small 4); //@media only screen and (max-width: 768px)
$breakpoint__screen-size--medium-max: new-breakpoint(max-width $screen-size--medium 6); //@media only screen and (max-width: 1024px)
$breakpoint__screen-size--large-max: new-breakpoint(max-width $screen-size--large 12); //@media only screen and (max-width: 1200px)
$breakpoint__screen-size--larger-max: new-breakpoint(max-width $screen-size--larger 12); //@media only screen and (max-width: 1366px)
$breakpoint__screen-size--largest-max: new-breakpoint(max-width $screen-size--largest 12); //@media only screen and (max-width: 1680px)