// ### Utilities - Variables - Dimensions
//---------------------------------------------------------------------------------------------------- */

$base--width: 1600;
$gutter: 40px;

//
// Max Widths
//=============================

$max-width: $base--width + px;

$max-width--no-flex: 800px;
$max-width--medium-screen--no-flex: 960px;
$max-width--large-screen--no-flex: 1140px;
$max-width--larger-screen--no-flex: 1280px;

$max-width__landing-page: 800px;

//
// Containers
//=============================

$wrap--padding: 4%;
$site-inner--padding: 4% 4% 0;
$site-inner--padding--medium: 40px 4% 0;

//
// Header
//=============================
$title-area--width: 100%;
$title-area--width--medium: 300px;

$site-title--link-min-height: 80px;

$header-right--width: 100%;
$header-right--width--medium-screen: 620px;
$header-right--width--large-screen: 800px;

//
// Content
//=============================
$content--width: 100%;
$content--width--medium-screen--no-flex: 620px;
$content--width--large-screen--no-flex: 800px;
$content--width--larger-screen--no-flex: 880px;

$sidebar-primary--width: 100%;
$sidebar-primary--width--medium-screen: 300px;
$sidebar-primary--width--larger-screen: 360px;

$sidebar-secondary--width: 100%;
$sidebar-secondary--width--medium-screen: 180px;

$content-sidebar-sidebar__content-sidebar-wrap--width--medium-screen--no-flex: 740px;
$content-sidebar-sidebar__content-sidebar-wrap--width--large-screen--no-flex: 920px;
$content-sidebar-sidebar__content-sidebar-wrap--width--larger-screen--no-flex: 1060px;

$content-sidebar-sidebar__content--width: 100%;
//$content-sidebar-sidebar__content--width--medium-screen: 55%;
$content-sidebar-sidebar--width--medium-screen--no-flex: 400px;
$content-sidebar-sidebar--width--large-screen--no-flex: 580px;
$content-sidebar-sidebar--width--larger-screen--no-flex: 660px;

$full-width-content__content--width: 100%;


//
// Footer
//=============================
$footer-widgets--width: 100%;
$footer-widgets--width--medium-screen: 300px;
$footer-widgets--width--large-screen: 340px;
$footer-widgets--width--larger-screen: 380px;

//
// Widgets
//=============================
$widget-calendar__table--width: 100%;
$search-form--width: 50%;
$widget-search__submit-button--width: 1px;

//
// Plugins
//=============================
$enews-widget__submit-button--width: 100%;