// ### Utilities - Variables - Dimensions
//---------------------------------------------------------------------------------------------------- */

$base--width: 800;
$gutter: 40px;

//
// Max Widths
//=============================
//$max-width: 1280px;
//$max-width--larger-screen: 1140px;
//$max-width--large-screen: 960px;
//$max-width--medium-screen: 800px;

$max-width: 800px;  //$max-width: $base--width + px;
$max-width--medium-screen: 960px;
$max-width--large-screen: 1140px;
$max-width--larger-screen: 1280px;

$max-width__landing-page: 800px;

//
// Header
//=============================
$title-area--width: 100%;
$title-area--width--medium: 300px;

$site-title--link-min-height: 80px;

$header-right--width: 100%;
$header-right--width--medium-screen: 620px;
$header-right--width--large-screen: 800px;

//
// Content
//=============================
$content--width: 100%; //$content--width: $base--width * 0.6875 + px;
$content--width--medium-screen: 620px;
$content--width--large-screen: 800px;
$content--width--larger-screen: 880px;

$full-width-content__content--width: 100%;

$sidebar-primary--width: 100%; //$sidebar-primary--width: $base--width * 0.28125 + px;
$sidebar-primary--width--medium-screen: 300px;
$sidebar-primary--width--larger-screen: 360px;

$sidebar-secondary--width: 100%;
$sidebar-secondary--width--medium: 180px;

$content-sidebar-wrap--width: 100%;
$content-sidebar-wrap--width--medium-screen: 740px;
$content-sidebar-wrap--width--large-screen: 920px;
$content-sidebar-wrap--width--larger-screen: 1060px;

$content-sidebar-sidebar--width: 100%;
$content-sidebar-sidebar--width--medium-screen: 400px;
$content-sidebar-sidebar--width--large-screen: 580px;
$content-sidebar-sidebar--width--larger-screen: 660px;

//
// Footer
//=============================
$footer-widgets--width: 100%;
$footer-widgets--width--medium-screen: 300px;
$footer-widgets--width--large-screen: 340px;
$footer-widgets--width--larger-screen: 380px;

//
// Widgets
//=============================
$widget-calendar__table--width: 100%;
$search-form--width: 50%;
$widget-search__submit-button--width: 1px;

//
// Plugins
//=============================
$enews-widget__submit-button--width: 100%;