/* ## Structure and Layouts - Site Containers
---------------------------------------------------------------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $max-width;
}

.no-flexbox {
  .site-inner,
  .wrap {
    max-width: $max-width--no-flex;

    @include media( $breakpoint__screen-size--medium-up ) {
      max-width: $max-width--medium-screen--no-flex;
    }
    @include media( $breakpoint__screen-size--large-up ) {
      max-width: $max-width--large-screen--no-flex;
    }
    @include media( $breakpoint__screen-size--larger-up ) {
      max-width: $max-width--larger-screen--no-flex;
    }
  }
}

.site-inner {
  clear: both;
  padding: $site-inner--padding;
  word-wrap: break-word;

  @include media( $breakpoint__screen-size--medium-up ) {
    padding: $site-inner--padding--medium;
  }
  @include media( $breakpoint__screen-size--larger-up ) {
    padding-top: 50px;
  }
}

.wrap {
  padding-left: $wrap--padding;
  padding-right: $wrap--padding;
}

.landing-page .site-inner {
  max-width: $max-width__landing-page;
}

.site-inner {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    @include media( $breakpoint__screen-size--medium-up ) {
      display: flex;
    }
  }
}